html, button, textarea {
  font: 1em/1.5 sans-serif;
  color: #333;
}

h1 {
  display: none;
}

textarea, pre {
  font-family: Roboto Mono, monospace;
  border: 1px solid grey;
  margin: 0;
  resize: none;
  padding: 1em;
}

pre {
  width: 33%;
}

body {
  display: flex;
  min-height: 98vh;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex: 1;
}

.column {
  flex-grow: 1;
  flex-basis: 0;
  margin: .5em;
}
